.product-filter{
    height: 100%;
    width: 20%;
    text-align: start;
    padding-left: 40px;
    padding-top: 20px;
    border-right: 1px solid #0002;
    transition: .5s;
}
.product-filter h3{
    cursor: default;
}
.prod-search{
    padding:10px;
    width:80%;
    background: #f5f5f5;
    border: none;
    outline: none;
    letter-spacing: 1px;
    border-radius: 5px;
    /* display: ; */
}
.prod-cat-list{
    margin-top: -10px;
}
.prod-cat-list li{
    width: fit-content;
    list-style: none;
    margin: 7px 0;
    color: #0007;
    letter-spacing: 1px;
    cursor: pointer;
}
.prod-cat-list li.active{
    border-bottom: 1px solid #0005;
}
.product-company h3{
    margin-bottom: 8px;
}
#prod-company{
    position: relative;
    background: #eee;
    border: none;
    padding: 7px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.prod-color-list{
    display: flex;
    list-style: none;
    color: #0006;
    letter-spacing: 1px;
    /* background-color: #f53232; */
}
.prod-color-list li.active{
    border-bottom: 1px solid #0005;
}
.prod-color-list li{
    margin: 0 5px;
    cursor: pointer;
}
.prod-price-detail{
    margin-bottom: 20px;
    margin-top: -10px;
}
.prod-price-detail p{
    margin-bottom: 5px;
}
#shipping{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-left: 10px;
}
.product-filter button{
    margin: 20px 0;
    font-size: 1.05em;
    background: #f53232;
    border: none;
    color: #ffffffd7;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.product-filter button:hover{
    color: #fff;
}


.filter-color{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow:inset 0 0 4px #0005;
    margin-top: 10px;
}
.filter-color.red{
    background-color: red;
}
.filter-color.green{
    background-color: green;
}
.filter-color.black{
    background-color: #000000b0;
}
.filter-color.yellow{
    background-color: yellow;
}
.filter-color.blue{
    background-color: blue;
}
.prod{
    display: none;
    pointer-events: none;
}
.prod.active{
    left: 250px;
    top: 100px;
}
@media screen and (max-width: 800px) {
    
    
    .prod{
        display: block;
        position: absolute;
        margin-top: 10px;
        left: 10px;
        background: #f7f7f7;
        box-shadow: 0 0 3px #0005;
        color: #0008;
        padding: 5px 10px;
        pointer-events: all;
        border-radius: 5px;
        cursor: pointer;
        transition: .5s;
        z-index: 101;

        /* z-index: 1000; */
    }
    .product-filter{
        display: block;
        position: absolute;
        margin-left: -240px;
        width: 250px;
        height: 101%;
        z-index: 100;
        background-color: #fafafa75;
        backdrop-filter: blur(4px);
        overflow: hidden;
    }

    .prod-search{
        width: 50%;
    }
    .product-filter.active{
        box-shadow: 0 5px 10px #000;
        margin-left: 0px;
       
        /* display: none; */
    }
}

@media screen and (max-width: 500px) {
    .product-filter{
        margin-left: -250px;
    }
    .prod{
        height: 14px;
        width: 9px;
        font-size: .9em;
        margin-left: -3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 300px) {
    .product-filter{
        font-size: .8em;
    }

    .filter-color{
        height: 14px;
        width: 14px;
    }

}