.home-container{
    height: 80vh;
    width: 100%;
    background: var(--imageBg);
}

.home-content{
    height: 100%;
    width: 100%;
    display: flex;
}
.home-data{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
    padding: 0 20px;
    padding-left: 30px;
    cursor: default;
}
.home-data h3{
    text-align: start;
    font-size: 2.5em;
    width: 300px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
}
.home-data p{
    font-size: 1.1em;
    margin-top: -20px;
    color: #0009;
    line-height: 30px;
}
.home-data  button{
    background: var(--button);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #ffffffbb;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .2s;
}
.home-data  button:hover{
    color: #fff;
}
.home-image{
    height: 100%;
    width: 50%;
    background: url("../../images/dino.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    animation: dino 5s linear infinite;
}
@keyframes dino {
    0%{
        background-position-y: 20px;
    }
    50%{
        background-position-y: 50px;
    }
    100%{
        background-position-y: 20px;
    }
};



