

.header-container{
    height: 10vh;
    width: 100%;

}
.header-link{
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: .3s;
}

.header-link.active{
    position: fixed;
    height: 200vh;
    width: 100%;
    background: #fff;
    z-index: 100;
}
.header-link.active .header-navigation{
    position: absolute;
    top: 750px;
    left: 0;
    height: 190px;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    opacity: 1;
}
.header-link.active .header-cart-link{
    opacity: 1;
    pointer-events: all;
    position: absolute;
    height:100px;
    width: 100%;
    top: 940px;
    gap: 39px;
    font-size: 1.1em;
}
.header-link.active .header-nav{
    margin-left: 50px;
    font-size: .8em;
}

.header-nav{
    height: 100%;
    width: 160px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo{
    height: 100%;
    width: 100%;
    background: url("../../assets//logo.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 139px;
}
.header-logo span{
    margin-left: 3px;
    color: var(--button);
}

.header-navigation{
    height: 100%;
    width: 400px;
    /* margin-top: -50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-nav-li{
    text-decoration: none;
    color: #000;
}
.header-navigation li{
    list-style: none;
    margin:20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .3s;
}

.header-cart-link{
    height: 100%;
    width: 25%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-cart-link li{
    list-style: none;
    margin: 0 10px;
    font-size: 1.2em;
}
.fa-header{
    margin-left: 5px;
    font-size: .9em;
}
.hamburgar {
    display: none;
}

.hamburgar.active{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 35px;
    padding-top: 4px;
    border-radius: 5px;
    box-shadow: 0 0 3px #0006;
    font-size: 1.2em;
    color: #0006;
    
    cursor: pointer;
    z-index: 1000;
}
.cartLink1:hover{
    color: #000;
}

@media screen and (max-width: 1500px) {
    .hamburgar.active{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .header-cart-link{
        margin-right: 20px;
        font-size: .9em;
    } 
}
@media screen and (max-width: 611px) {
    .header-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-cart-link,
    .header-navigation{
        display: none;
    }
    .header-nav{
        margin-left: -30px;
    }
    .header-link.active .header-cart-link,
    .header-link.active .header-navigation{
        display: block;
    }
    .header-link{
        width: 80%;
    }
   
    .hamburgar.active{
        display: block;
        position: absolute;
        right: 0;
        margin-right: 20px;
    }
    .header-navigation li:hover{
        background-color: #eee;
        /* width: 20%; */
        border: none;
        box-shadow: 0 0 2px #0003;
        color: var(--button);
        border-radius: 30px;
        padding: 10px 20px;
        margin: 10px 0;
        font-size: 1.1em;
        font-weight: 700;
    }
    .header-cart-link{
        color: #0008;
        cursor: pointer;
        /* background-color: rebeccapurple; */
        width: 30%;
    }
    .header-cart-link li{
        margin: 20px 0;
    }
    .header-cart-link li:hover,
    .ca:hover{
        color: #0084ff;
    }
}
@media screen and (max-height: 1024px) {
    .header-link.active .header-navigation{
        top: 1050px;
    }
    .header-link.active .header-cart-link{
        top: 1240px;
    }
}
@media screen and (max-height: 759px) {
    .header-link.active .header-navigation{
        top: 900px;
    }
    .header-link.active .header-cart-link{
        top: 1090px;
    }
}
@media screen and (max-height: 700px) {
    .header-link.active .header-navigation{
        top: 800px;
    }
    .header-link.active .header-cart-link{
        top: 990px;
        margin-left: -30px;
    }
}