.login-container,
.sign-container{
    height: calc(100vh - 15vh);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-wrapper,
.sign-wrapper{
    height: 70%;
    width: 60%;
    box-shadow: 0 0 39px #00000018;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: .4s;
}

.login-left,
.login-right,
.signImg,
.sign-wrapper form{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-link{
    height: 40px;
    width: 160px;
    margin: 10px 0;
    box-shadow: 4px 3px 4px #0003;
    display: flex;
    padding-left: 80px;
    align-items: center;
    text-align: start;
    gap: 10px;
    color: #ffffffce;
    border-radius: 10px;
    cursor: pointer;

}
.login-right form button,
.login-link:hover{
    color: #fff;
}
.login-line{
    height: 80%;
    width: 1px;
    background-color: #0006;
}

.google{
    background-color: #fd214d;
}
.github{
    background-color: #000000b6;
}
.linkedin{
    background-color: #2050ec;
}

.login-right h3{
    font-size: 2em;
    color: #0008;
    letter-spacing: 1px;
    margin-bottom: 0;
    cursor: default;
}
.login-right form{
    margin-top: -29px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.login-right form input{
    height: 29px;
    width: 70%;
    border: none;
    outline: none;
    margin: 10px 0;
    border-bottom: 1px solid #000;
    transition: .4s;
}

.login-right form button{
    padding: 5px 50px;
    margin-top: 20px;
    font-size: .9em;
    border: none;
    outline: none;
    background-color: var(--button);
    color: #ffffffa6;
    border-radius: 4px;
    letter-spacing: 1px;
    cursor: pointer;
}
.login-right form button:hover{
    color: #fff;
}


@media screen and (max-width: 900px) {
    .login-wrapper{
        width: 80%;
    }
}
@media screen and (max-width: 670px) {
    .login-wrapper{
        width: 90%;
    }
}
@media screen and (max-width: 570px) {
    .login-wrapper{
        height: 69vh;
        flex-direction: column-reverse;
    }
    .login-left{
        height: 30vh;
    }
    .login-line{
        /* display: none/; */
        margin-top: 20px;
        width: 90%;
        height: 1px;
    }
}
@media screen and (max-width: 470px) {
    .login-right{
        width: 100%;
        /* background-color: red; */
    }
}