
.addCart{
    height: 55vh;
    width: 95%;
    overflow-y: scroll;
    box-shadow:inset 0 0 5px #0007;
}


.addCart-container.active{
    display: none;
}
.addCart-container{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: default;
    margin: 10px 0;
    border-bottom: 1px solid #0002;
}

.addCart-container img{
    height: 90px;
    width: 90px;
    object-fit: cover;
    margin-top: 12px;
    border-radius: 10px;
}
.addCart-item-detail{
    display: flex;
    gap: 20px;
}
.addCart-item{
    height: 100%;
    width: 130px;
    overflow: hidden;
}

.addCart-item h3{
    overflow: hidden;
    height: 60px;
}
.addCart-item p{
    margin-top: -15px;
}
.addCart-price{
    color: var(--button);
    font-weight: 700;
}

.addCart-quantity{
    font-size: 2em;
    font-weight: bolder;
    /* background: red; */
    /* gap: 20px; */
}
.addCart-quantity span::selection,
.addCart-quantity::selection{
    background: none;
}
.addCart-quantity span{
    margin: 0 10px;
    cursor: pointer;
}
.addCart-trash{
    background: red;
    padding: 10px;
    border-radius: 7px;
    color: #ffffffbb;
    cursor: pointer;
}

.addCart-trash:active{
    color: #fff;
}
.addCart-trash> *{
    pointer-events: none;
}


.addCart-Box{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    background: #f8f6f6;

}


.addCart-img{
    height: 400px;
    width: 400px;
    background: url("../../../assets/Peoples/girl1.PNG");
    background-size: 500px;
    background-position: top right;
    background-repeat: no-repeat;
    animation: girl 3s linear infinite;

}

@keyframes girl {
    0%{
        background-position-y: -10px;
    }
    50%{
        background-position-y: 20px;
    }
    100%{
        background-position-y: -10px;
    }
};