.err-container{
    height: 100vh;
    width: 100%;
    /* background: red;/ */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--imageBg);
}
.err-img{
    height: 80vh;
    width: 50%;
    background: url("../../images//404.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;
    animation: err 5s linear infinite;
}
.err-code{
    position: absolute;
    font-size: 7em;
    bottom: 0;
    font-family: cursive;
    font-weight: bolder;
}
.err-container:before{
    position: absolute;
    content: "";
    top: -80px;
    left: -80px;
    filter: blur(1px);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    box-shadow: 3px 5px 10px #0006;
    background: linear-gradient(#13dfdf,#f3179f);
}
.err-container:after{
    position: absolute;
    content: "";
    top: -80px;
    right: -80px;
    filter: blur(1px);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    box-shadow: -3px 5px 10px #0006;

    background: linear-gradient(#13dfdf,#f3179f);
}

@keyframes err {
    0%{
        transform: translateX(-100px) translateY(-50px);
    }
    25%{
        transform: translateX(100px) translateY(50px);

    }
    50%{
        transform: translateX(100px) translateY(-50px);
    }
    75%{
        transform: translateX(-100px) translateY(50px);

    }
    100%{
        transform: translateX(-100px) translateY(-50px);
    }
}