.prod-page-data{
    height: 28ch;
    flex: 1;
    margin:0px 10px;
    /* border-bottom: 1.5px solid var(--button); */
    text-decoration: none;
}
.prod-page-data1{
    height: 95%;
    width: 100%;
}
.product-list-content.active .prod-page-data{
    border: none;
}
.prod-page-data-img{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
.prod-page-data-img:before{
    margin-left: -20%;
}

.prod-page-data-details{
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
    color: #0009;
    letter-spacing: 1px;
    cursor: default;
}
.prod-page-data-details h5{
    color: var(--button);
}
.product-list-content{
    text-decoration: none;
}
.product-list-content.active .prod-page-data{
    height: 200px;
    width: 100%;
    display: flex;
    margin: 20px 0;
    padding-left: 20px;
}
.product-list-content.active .prod-page-data-img{
    height: 100%;
    width: 350px;
    margin-right: 20px;
}

.product-list-content.active .prod-page-dats{
    flex: 1;
    padding-right: 40px;
    height: 100%;
    text-align: start;
    cursor: default;
}
.product-list-content.active .prod-page-data-details{
    justify-content: flex-start;
    flex-direction: column;
    height: 60px;
    margin-top: -10px;
    margin-bottom: 30px;
}
.product-list-content.active .prod-page-data-details h5{
    margin-top: 0;
}
.product-list-content.active .prod-page-data-details h4{
    margin-bottom: 0;
    font-size: 1.3em;
}
.prod-page-cont,
.prod-page-cont button{
    height: 0;
    flex: 0;
    font-size: 0;
    pointer-events: none;
    opacity: 0;
}
.product-list-content.active .prod-page-cont{
    position: relative;
    height: 90px;
    opacity: 1;
    pointer-events: all;
    font-size: 1em;
    flex: 1;
}
.product-list-content.active .prod-page-cont p{
    color: #0008;
    text-align: justify;
}
.product-list-content.active .prod-page-cont button{
    position: absolute;
    bottom: 10px;
    border: none;
    outline: none;
    color: #ffffffc2;
    background: var(--button);
    padding:6px 14px;
    border-radius: 5px;
    cursor: pointer;
}
.product-list-content.active .prod-page-cont button:hover{
    color: #fff;
}

@media screen and (max-width: 1440px){
    .prod-page-data{
        height: 22ch;
        margin-top:80px;
    }
    .product-list-content.active .prod-page-data{
        display: flex;
        margin: 30px 0;
    }
    .product-list-content.active .prod-page-data-img{
        width: 20%;
        height: 70%;
    }
}
@media screen and (max-width: 1024px){
    .prod-page-data{
        height: 25ch;
    }
    .prod-page-data-img{
        height: 75%;
    }
    .product-list-content.active .prod-page-data-img{
        width: 30%;
        height: 90%;
    }
}

@media screen and (max-width: 850px){
    .product-list-content.active .prod-page-data{
        font-size: .9em;

    }
    .product-list-content.active .prod-page-data-img{
        margin-top: 15px;
        width: 30%;
        height: 80%;
    }
}
@media screen and (max-width: 850px){

    .prod-page-data-img{
        height: 75%;
    }
}

@media screen and (max-width: 600px){
    .product-list-content.active .prod-page-data-img{
        margin-top: 20px;
        width: 30%;
        height: 70%;
    }
    
}

@media screen and (max-width: 520px){
    .product-list-content.active .prod-page-data {
        margin: -21px 0;
    }
    .product-list-content.active .prod-page-data-img{
        
        height: 40%;
    }
    .product-list-content.active .prod-page-data1{
        /* margin-top: -30px; */
        height: 300px;
    }
}
@media screen and (max-width: 450px){
    .product-list-content.active .prod-page-data-img{
        height: 30%;
        margin-top: 20px;
        width: 140px;
    }
    .product-list-content.active .prod-page-dats {

        padding-right: 10px;
    }
    
}
@media screen and (max-width: 450px){
    .product-list-content.active .prod-page-dats {
        font-size: .85em;
        padding-right: 10px;
    }
    .product-list-content.active .prod-page-data1{
        overflow: hidden;
        margin: 6px 0;
        width: 100%;
    }
}
@media screen and (max-width: 400px){
    .product-list-content .prod-page-data1{
        margin-left: -20px;
        height:140px;
        width: 140%;
        
    }
    .product-list-content{
        /* background-color: red; */

    }
}

@media screen and (max-height: 1400px) {
    .product-list-content{
        height: 70%;
    }
    
}
@media screen and (max-height: 920px) {
    .product-list-content.active .prod-page-data1{
        height: 230px;
    }
    
}
@media screen and (max-height: 730px) {
    .product-list-content.active .prod-page-data-img{
        height: 50%;
    }
    
}
@media screen and (max-height: 660px) {
    .product-list-content.active .prod-page-data-img{
        height: 30%;
        margin-top: 30px;
    }
    .product-list-content.active .prod-page-data1{
        height: 300px;
    }
    .product-list-content.active .prod-page-dats {
        padding-right: 20px;
    }
}
@media screen and (max-height: 600px) {
    .product-list-content.active .prod-page-data-img{
        height: 40%;
        width: 25%;
    }
   
}