.main-footer{
    height: 70px;
    width: 100%;
    background: var(--button);
    color: #ffffffaf;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
@media screen and (max-width: 400px) {
    .main-footer{
        font-size: .8em;
        justify-content: start;
        padding-left:15%;

    }
}