.product-list{
    height: 100%;
    width: 80%;
    overflow-y: scroll;
}


.prod-list-header{
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.prod-thumbnail div{
    border: 1px solid #0008;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    overflow: hidden;
    /* background-color: #000; */
}
.fa-thumb.active{
    background-color: #000;
    height: 80%;
    width: 80%;
    margin-top: -1px;
    padding: 3px;
    color: #fff;
    font-weight: bolder;
}
.prod-thumbnail,
.prod-list-sort{
    display: flex;
    gap: 10px;
}

.prod-list-header h6{
    margin-left: 30px;
    font-size: 1em;
    font-weight: 500;
}
.prod-list-header hr{
    height: 1px;
    background: #ddd;
    border: none;
    width: 50%;
}
.prod-list-sort{
    align-items: center;
}
.prod-list-sort select{
    height: fit-content;
    font-size: 1em;
    font-weight: 600;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.product-list-content{
    display: grid;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    grid-template-columns: auto auto auto;
}

.product-list-content.active{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 910px) {
    .product-list-content{
        grid-template-columns: auto auto;
        width: 90%;
    }
}
@media screen and (max-width: 800px) {
    .product-list-content{
        grid-template-columns: auto auto auto;
        width: 100%;
    }
    .product-list{
        padding: 0 20px;
        width: 90%;
        margin-left: 5%;
    }
}
@media screen and (max-width: 700px) {
    .product-list-content{
        grid-template-columns: auto auto;
        width: 100%;
        /* background: red; */
        margin-left: 10px;
    }
}
@media screen and (max-width: 620px){
    .prod-list-header{
        position: absolute;
        width: 90%;
        /* margin-left: 5%; */
        box-shadow: 4px 0 3px #0006;
        z-index: 10;
        background: #fff;
    }
    .prod-thumbnail{
        position: absolute;
        right: 20px;
        margin-top: 70px;

    }
    .product-list-content{
        position: relative;
        top: 150px;
    }
}
@media screen and (max-width: 520px) {
    .prod-list-header{
        width: 85%;
        height: 100px;
        padding-right: 20px;
    }
    .product-list-content{
        grid-template-columns: auto;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
}
